*,
body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #dbdbdb;
}

#main-button {
  background: green;
  border-radius: 50px;
  border: none;
  padding: 1.75rem 3.75rem;
  font-size: 1.1rem;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 1.2px;
  margin-top: 1rem;
}

#main-button:hover {
  cursor: pointer;
  background: yellowgreen;
}

#modal-button {
  background: green;
  border-radius: 50px;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 1.2px;
  margin-top: 1rem;
}

#modal-button:hover {
  cursor: pointer;
  background: yellowgreen;
}

.main-wrapper {
  background: #ffffff;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  padding: 0px 50px;
}

.banner {
  background: url("./images/banner.jpg");
  height: 175px;
  background-size: cover;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer img {
  width: 7rem;
}

.timer h2 {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
  margin-bottom: 2rem;
}

.logos img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logos .main-logo {
  width: 7rem;
}

.logos .amazon-logo {
  width: 10rem;
}

.title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 895px) {
  h1 {
    font-size: 1.5rem;
  }
}

#imageToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7rem;
}

@media only screen and (max-width: 895px) {
  #imageToggle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.product-images img {
  width: 80%;
}

.product-images figure {
  width: 10rem;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 1px solid black;
}

.product-images .one {
  border-right: none !important;
}

.product-images .three {
  border-left: none !important;
}

.main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 29rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.main-image img {
  width: 18rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-discount p {
  font-size: 2.5rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 100;
  visibility: visible;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal h1 {
  margin-bottom: 0.5rem;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  border-radius: 10px;
  width: 100%;
  border: 1px solid black;
  padding: 0.75rem;
  margin: 0.5rem;
}
/*# sourceMappingURL=main.css.map */